
@font-face {
    font-family: Gidole;
    src: url('../resources/fonts/GidoleFont/Gidole-Regular.ttf');
}
body {
	font-family: Gidole;
	margin: 0px;
}

.material-icons.icon-white{
		color: white !important;
}
